<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center pt-5">
<form>

    <div class="form-row">
        <div class="form-group col-md-6 offset-md-3">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome Completo" [(ngModel)]="usuario.nome">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 offset-md-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email"
            placeholder="exemplo@exemplo.com" [(ngModel)]="usuario.email">
        </div>

        <div class="form-group col-md-6 offset-md-3">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" (input)="confirmSenha($event)">
        </div>

        <div class="form-group col-md-6 offset-md-3">
            <label for="confirmSenha">Confirmar Senha</label>
            <input type="password" class="form-control" id="confirmSenha" name="confirmSenha" placeholder="Digite a senha novamente"
            [(ngModel)]="usuario.senha">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 offset-md-3">
            <label for="linkFoto">Foto</label>
            <input type="text" class="form-control" id="linkFoto" name="linkFoto" placeholder="Link da Foto" [(ngModel)]="usuario.foto">
        </div>
    </div>

    <!-- <div class="form-row">
    <div class="form-group col-md-6 offset-md-3">
        <label for="inputAddress">Endereço</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Ex.Rua Numero Bairro">
    </div>
</div>
    -->

    <!-- <div class="form-row">
    <div class="form-group col-md-6 offset-md-3">
        <label for="inputZip">CEP</label>
        <input type="text" class="form-control" id="inputZip" placeholder="Ex.12345-678">
    </div>
</div>

    <div class="form-row ">
        <div class="form-group col-md-6 offset-md-3">
            <label for="inputCity">Cidade</label>
            <input type="text" class="form-control" id="inputCity">
        </div>

        <div class="form-group col-md-6 offset-md-3">
            <label for="inputState">Estado</label>
            <select id="inputState" class="form-control">
                <option selected>Escolha</option>
                <option>Acre (AC)</option>
                <option>Alagoas (AL)</option>
                <option>Amapá (AP)</option>
                <option>Amazonas (AM)</option>
                <option>Bahia (BA)</option>
                <option>Ceará (CE)</option>
                <option>Distrito Federal (DF)</option>
                <option>Espírito Santo (ES)</option>
                <option>Goiás (GO)</option>
                <option>Maranhão (MA)</option>
                <option>Mato Grosso (MT)</option>
                <option>Mato Grosso do Sul (MS)</option>
                <option>Minas Gerais (MG)</option>
                <option>Pará (PA)</option>
                <option>Paraíba (PB)</option>
                <option>Paraná (PR)</option>
                <option>Pernambuco (PE)</option>
                <option>Piauí (PI)</option>
                <option>Rio de Janeiro (RJ)</option>
                <option>Rio Grande do Norte (RN)</option>
                <option>Rio Grande do Sul (RS)</option>
                <option>Rondônia (RO)</option>
                <option>Roraima (RR)</option>
                <option>Santa Catarina (SC)</option>
                <option>São Paulo (SP)</option>
                <option>Sergipe (SE)</option>
                <option>Tocantins (TO)</option>
            </select>
        </div>

    <div class="form-group col-md-6 offset-md-3">
                            <div class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
                            <input class="form-control d-none" data-recaptcha="true" required data-error="Please complete the Captcha">
                            <div class="help-block with-errors"></div>
                        </div> -->
    <!-- <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
        </div>
    </div>
</div>-->
    <button type="submit" class="btn btn-primary offset-md-3 mr-2" (click)="cadastrar()">Cadastrar</button>
    <button class="btn btn-danger" type="submit" routerLink="/home">Cancelar</button>
    </form>
</div>
</div>
</div>
