<footer class="page-footer font-small bege pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-dark">Confira nosso projeto:</h4>
            </div>
        </div>

        <div class="row">
            <div class="socialNetwork
            col-md-12 d-flex justify-content-center">

                <a href="https://github.com/JuliaInoscencia/GenTourFront" target="_blank">
                <i class="fa fa-github-square text-dark" aria-hidden="true"></i>
                </a>
                                    
            </div>
        </div>
    </div>

        <div class="footer-copyright azul text-center py-3">
            <span class="text-light"> &copy; Todos os direitos reservados a: GenTour |</span>
            <a class="text-light" target="_blank" href="https://brazil.generation.org/"> Generation Brasil</a>
        </div>


</footer>