<div class="container-fluid bege ">
  <div class="row">
    <!-- <section class="d-flex justify-items-center"> -->
      <div class="col-sm d-flex align-items-center justify-content-center flex-column">
        <img src="https://avatars.githubusercontent.com/u/95695526?v=4" class="rounded-circle img-sm" alt="PerfilDarllan">
        <h5 class="text-center mt-3">Darllan Lopes</h5>
        <div class='d-flex justify-content-center'>
        <a href="https://github.com/Darllan1L" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/darllan-lopes-a5104419a/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
      </div>
      </div>
    <!-- </section> -->

      <div class="col-sm d-flex align-items-center justify-content-center flex-column">
        <img src="https://avatars.githubusercontent.com/u/60683555?v=4" class="rounded-circle img-sm" alt="PerfilGui">
        <h5 class="text-center mt-3">Guilherme Barbosa</h5>
        <div class='d-flex justify-content-center'>
        <a href="https://github.com/eclipze00" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
         <a href="https://www.linkedin.com/in/guilherme-barbosa00/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>

        </div>
      </div>

      <div class="col-sm d-flex align-items-center justify-content-center flex-column">
        <img src="https://avatars.githubusercontent.com/u/74744859?v=4" class="rounded-circle img-sm" alt="PerfilJu">
        <h5 class="text-center mt-3">Júlia Inoscência</h5>
        <div class='d-flex justify-content-center'>
        <a href="https://github.com/juliainoscencia" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
         <a href="https://www.linkedin.com/in/juliainoscencia/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
         </a>
        </div>
      </div>

      <div class="col-sm d-flex align-items-center justify-content-center flex-column">
          <img src="https://avatars.githubusercontent.com/u/94858339?v=4" class="rounded-circle img-sm" alt="PerfilWs">
          <h5 class="text-center mt-3">Wesley Barreto</h5>
          <div class='d-flex justify-content-center'>
         <a href="https://www.github.com/Quelann" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
         <a href="https://www.linkedin.com/in/wesley-barreto-9b90a2227/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
         </a>

        </div>
      </div>

    </div>
    </div>
