<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bege ">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Navbar brand -->
      <a class="logoGen navbar-brand mt-2 mr-5 mt-lg-0" href="#">
        <img src="../../assets/img/GenTourLogo.jpeg" class="rounded-circle" height="100" alt="GenTour Logo"
          loading="lazy" />
      </a>

      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link mr-5" href="#">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-5" href="#">Sobre nós</a>
        </li>
      </ul>
      <!-- Left links -->

    </div>

    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Avatar -->
      <div class="dropdown">
        <a class="dropdown-toggle d-flex align-items-start hidden-arrow mr-5 ml-5" href="#" id="navbarDropdownMenuAvatar"
          role="button" data-toggle="dropdown" aria-expanded="false">
          <img src="../../assets/img/GenTourLogo.jpeg" class="rounded-circle" height="45"
            alt="Foto de Perfil" loading="lazy" />
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
          <li>
            <a class="dropdown-item" href="#">Meu Perfil</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Configurações</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Sair</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
