<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bege ">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Navbar brand -->
      <a class="logoGen navbar-brand mt-2 mr-5 mt-lg-0" href="#">
        <img src="../../assets/img/GenTourLogo.jpeg" alt="Logo" class="rounded-circle" height="100" alt="GenTour Logo"
          loading="lazy"/>
      </a>

      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link mr-5" href="#" routerLink="/home">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-5" href="#" routerLink="/sobre">Sobre nós</a>
        </li>
      </ul>
      <!-- Left links -->

    </div>

    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">

      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link mr-5" href="" routerLink="/cadastro">Seja Anfitrião</a>
          </li>
        </ul>
      </div>

      <!-- Avatar -->
      <div class="dropdown">
        <a class="nav-item active dropdown-toggle d-flex align-items-start hidden-arrow mr-5 ml-5" href="#" id="navbarDropdownMenuAvatar"
          role="button" data-toggle="dropdown" aria-expanded="false">
          <img src="{{foto}}" class="rounded-circle img-fluid" height="45"
            alt="Foto de Perfil"/>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
          <li>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logar">
              Entrar
            </a>
          <li>
            <a class="dropdown-item" href="#" routerLink="/contato">Contato</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Sair</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<!-- Modal -->
<div class="modal fade" id="logar" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="form-group">
            <label class="form-label" for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="email@example.com" [(ngModel)]="usuarioLogin.email">
        </div>

        <div class="form-group">
          <label class="form-label" for="senha">Senha</label>
          <input type="password" class="form-control" name="senha" id="senha" placeholder="Senha" [(ngModel)]="usuarioLogin.senha">
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="logar()">Entrar</button>
      </div>
    </div>
  </div>
</div>
