
<!--!Carrousel Principal-->
<div class="bege carrocel container-fluid">
  <div class="container">
    <div data-interval="2500" id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner rounded">
        <div class="carousel-item active">
          <img src="../../assets/img/arraial-do-cabo.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/praia.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://s1.1zoom.me/b5050/84/429037-svetik_3840x2160.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>
<!--!Carrousel Principal-->

<div class="mt-5 mb-5">
  <hr>
</div>

<!--!Cadastro Turismo-->
<div class="container-fluid" *ngIf="logado()">
  <div class="row bege d-flex align-items-center">
<!--Left Side-->
<div class="col-md-6">

  <div class="row d-flex justify-content-center">
    <div class="col-md-6 azul">
      <h1>Cadastre uma nova atração turística!</h1>
    </div>
  </div>

  <!--Buttons-->
  <div class="row d-flex justify-content-center mt-3 m">
    <div class="col-md-6">
      <button class="btn btn-dark mr-3" data-toggle="modal" data-target="#novoTurismo">Novo Cadastro</button>
      <a class="btn btn-outline-dark" href="#">Suas Atrações</a>
    </div>
  </div>
  <!--Buttons-->

</div>
<!--/Left Side-->


<!--Right Side-->
<div class="col-md-6 d-flex justify-content-center">
  <img src="../../assets/gif/Road trip.gif" alt="" width="500" height="500">
</div>
<!--/Right Side-->
  </div>
</div>
<!--!Cadastro Turismo-->

<div class="mt-5 mb-5">
  <hr>
</div>

<!--*Destaques-->
<div>
  <h2 class="mb-5 mt-5 p-4">
    Destaques
  </h2>
  <div class="card-deck ">
    <div class="card" *ngFor="let turismo of listaTurismo">
      <img src="{{turismo.foto}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{turismo.atracao}}</h5>
        <p class="card-text">Hospedagem: {{turismo.hospedagem}}<br>
          Locomoção: {{turismo.locomocao}}</p>
        <p class="card-text text-right">{{turismo.preco | currency: "BRL"}}</p>
      </div>
    </div>
  </div>
</div>
<!--*Destaques-->

<!--!Por Tipo de turismo-->
<div>
  <h2 class="mb-5 mt-5 p-4">
    Encontre algo que te agrade
  </h2>
  <div class="card-deck m-0 p-0 mt-5">
    <div class="card" *ngFor="let tipo of listaTipos">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{tipo.categoria}}</h5>
        <p class="card-text">Aonde: {{tipo.local}}</p>
      </div>
    </div>
  </div>
</div>
<!--!Por Tipo de turismo-->

<!-- Modal -->
<div class="modal fade" id="novoTurismo" tabindex="-1" role="dialog"
  aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova Atração Turística</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="titulo">Atração</label>
          <input type="text" class="form-control" id="atracao" placeholder="Digite sua atração" [(ngModel)]="turismo.atracao">
        </div>

        <div class="form-group">
          <label for="titulo">Temporada</label>
          <input type="text" class="form-control" id="temporada" placeholder="Digite sua atração" [(ngModel)]="turismo.temporada">
        </div>

        <div class="form-group">
          <label for="titulo">Hospedagem</label>
          <select class="form-control" name="hospedagem" id="hospedagem" [(ngModel)]="turismo.hospedagem">
            <option>
              Selecione uma opção
            </option>
            <option value="sim">
              Sim
            </option>
            <option value="nao">
              Não
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="preco">Preço</label>
          <input currencyMask [options]="{prefix: 'R$', thousands:'.', decimal:'.', align: 'left'}" class="form-control" id="preco" placeholder="Digite o valor: R$" [(ngModel)]="turismo.preco">
        </div>

        <div class="form-group">
          <label for="titulo">Locomoção</label>
          <select class="form-control" name="locomocao" id="locomocao" [(ngModel)]="turismo.locomocao">
            <option>
              Selecione uma opção
            </option>
            <option value="sim">
              Sim
            </option>
            <option value="nao">
              Não
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="titulo">Foto</label>
          <input type="text" class="form-control" id="foto" placeholder="Link da foto:" [(ngModel)]="turismo.foto">
        </div>

        <div class="form-group">
          <label for="tipo">
            Escolha um tipo ou <a data-dismiss="modal" routerLink="/tipo">Cadastre um novo: </a>
          </label>

          <select class='form-control' name="tipo" id="tipo" [(ngModel)]="idTipos" (change)="findTiposById()">
            <option *ngFor="let tipo of listaTipos" value="{{tipo.id}} ">
              {{tipo.categoria}}
            </option>

          </select>
        </div>

        <div class="form-group">
          <label for="titulo">Descrição</label>
          <textarea class="form-control" name="descricao" id="descricao" cols="" rows="3" placeholder="Descreva a atração:" [(ngModel)]="turismo.descricao"></textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="cadastrar()" data-dismiss="modal">Cadastrar</button>
      </div>
    </div>
  </div>
</div>
