.carrocel{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1014%26quot%3b)' fill='none'%3e%3cpath d='M1464 560L0 560 L0 344.04Q41.6 313.64%2c 72 355.24Q144.57 307.81%2c 192 380.39Q205.38 273.77%2c 312 287.15Q346.29 249.44%2c 384 283.72Q457.3 285.02%2c 456 358.33Q525.83 308.15%2c 576 377.98Q624.08 354.06%2c 648 402.14Q656.72 338.86%2c 720 347.58Q772.46 280.04%2c 840 332.5Q936.29 308.79%2c 960 405.08Q969.46 342.54%2c 1032 352Q1054.96 302.96%2c 1104 325.92Q1131.79 281.71%2c 1176 309.5Q1203.01 264.51%2c 1248 291.52Q1307.93 279.45%2c 1320 339.38Q1373.5 320.88%2c 1392 374.38Q1442.57 352.95%2c 1464 403.52z' fill='rgba(59%2c 68%2c 135%2c 1)'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 492.81Q-7.38 413.43%2c 72 406.04Q95.94 357.99%2c 144 381.93Q232.84 350.77%2c 264 439.61Q288.92 392.53%2c 336 417.45Q415.96 377.41%2c 456 457.37Q508.89 438.26%2c 528 491.16Q541.42 432.58%2c 600 446Q634.01 360.01%2c 720 394.02Q764.03 366.05%2c 792 410.09Q874.6 372.69%2c 912 455.29Q940.18 411.48%2c 984 439.66Q1068.5 404.16%2c 1104 488.66Q1120.8 433.46%2c 1176 450.26Q1217.26 419.51%2c 1248 460.77Q1281.79 374.56%2c 1368 408.35Q1420.03 388.38%2c 1440 440.41Q1448.03 376.44%2c 1512 384.46z' fill='rgba(233%2c 78%2c 82%2c 1)'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 485.7Q51.2 464.9%2c 72 516.11Q149.32 473.43%2c 192 550.75Q222.16 508.91%2c 264 539.07Q279 482.08%2c 336 497.08Q362.83 451.91%2c 408 478.74Q490.66 441.4%2c 528 524.06Q554.81 478.87%2c 600 505.67Q645.35 431.01%2c 720 476.36Q762.49 446.85%2c 792 489.33Q833.34 458.67%2c 864 500.01Q943.27 459.28%2c 984 538.55Q1008.49 491.04%2c 1056 515.53Q1097.2 436.73%2c 1176 477.93Q1261.93 443.86%2c 1296 529.79Q1341.68 503.47%2c 1368 549.15Q1409.71 518.86%2c 1440 560.57Q1440.84 489.4%2c 1512 490.24z' fill='rgba(250%2c 243%2c 235%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1014'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: center;
}

#myIMG{
  cursor: pointer;
  transition: 0.3s;
}

#myIMG:hover {
  opacity: 0.7;
}




