.bg-image {
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    background-attachment: scroll;
}

.bg-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.btInicio {
  background-color:#E94E52 ;
  color: #3B4487;
  font-weight: 600;
}

.btInicio :hover{
  background-color: #3B4487;
  color: aliceblue;

}
